/*
 * Mobile First Styles
 */
* {
  color: #333;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Monseratt', sans-serif;
}

html, body {
  height: 100%;
}

h1, h2 {
  margin: 0;
  padding: 0;
}


/* iPhone 11 */
@media screen and (min-width: 414px) {  }

/* iPad min */
@media screen and (min-width: 768px) {  }

/* iPad Pro */
@media screen and (min-width: 1024px) {  }

