.article {
  display: flex;
  flex-flow: column;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .article {
    width: 468px;
  }
}

@media screen and (min-width: 1200px) {
  .article {
    width: 560px;
  }
}
