.article {
  display: flex;
  flex-flow: column;
  grid-column: span 6;
}

@media screen and (min-width: 1024px) {
  .article:nth-child(-1n + 2) {
    grid-column: span 3;
  }
  .article:not(:nth-child(-1n+2)) {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1200px) {
}
