.header__menu {
  display: none;
  margin-left: 32px;
  flex: 1;
}

.header__menu > ul {
  display: flex;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .header__menu {
    display: block;
  }
}
