.article-image {
  position: relative;
  object-fit: cover;
  height: 206px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

@media screen and (min-width: 768px) {
  .article-image {
    height: 404px;
  }
}
