.layout {
  display: grid;
  grid-template-columns: minmax(16px, auto) minmax(288px, 1200px) minmax(16px, auto);
  grid-template-rows: auto 1px 1fr auto;
  grid-template-areas:
   ". header ."
   "header_line header_line header_line"
   ". content ."
   "footer footer footer";
}
