.article {
  display: flex;
  flex-flow: column;
  grid-column: span 6;
}

@media screen and (min-width: 768px) {

  /* first 2 elements */
  .article:nth-child(-n+3) {
    > img {
      height: 404px;
    }
  }

  /* last elements after first 2 elements */
  .article:nth-child(n+3) {
    grid-column: span 3;
    > img {
      height: 206px;
    }
  }
}

@media screen and (min-width: 1024px) {

  /* first 2 elements */
  .article:nth-child(-n+3) {
    grid-column: span 3;

    > img {
      height: 260px;
    }
  }

  /* last elements after first 2 elements */
  .article:nth-child(n+3) {
    grid-column: span 2;
    > img {
      height: 260px;
    }
  }
}
