.articles__filter__item {
  border-radius: 24px;
  padding: 6px 8px;
  flex-wrap: nowrap;
  white-space: nowrap;
  font-size: 14px;
  cursor: pointer;
  box-shadow: #C1C5CD 0px 0px 0px 1px inset;


}

.articles__filter__item:hover {
  box-shadow: #16C8BB 0px 0px 0px 2px inset;
}



