.header__layout {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.header > div {
  height: 56px;
  align-items: center;
}

/* iPhone SE */
@media screen and (min-width: 375px) {

}

/* iPhone 11 */
@media screen and (min-width: 414px) {
  .header > div {
    height: 72px;
  }
}

/* iPad min */
@media screen and (min-width: 768px) {
  .header {
    height: 76px;
  }
}

/* iPad Pro */
@media screen and (min-width: 1024px) {

}

