.article__body {
  border: 1px solid #DEDEDE;
  display: flex;
  flex-flow: column;
  padding: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

@media screen and (min-width: 1024px) {
  .article__body {
    height: 240px;
  }
}
