.header__burger {
  display: block;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .header__burger {
    display: none;
  }
}
