.button {
  cursor: pointer;
  background: transparent;
  outline: none;
  border-radius: 4px;
  padding: 14px 20px;
  font-size: 16px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  min-width: 200px;
}
